<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${@enqueteProps.applicationName}">アンケート</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" href="../static/images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/theme.css}" href="../static/css/theme.css"/>
</head>
<body>
<section>
    <h1 th:text="${@enqueteProps.applicationName}">アンケート</h1>
    <p sec:authorize="authenticated">
        <span sec:authentication="principal.name">duke</span>さんログイン中。
    </p>
</section>
<section>
    <h3>受付中のアンケート一覧</h3>
    <ul>
        <li th:each="seminar : ${openSeminars}">
            <a th:href="@{/seminars/{seminarId}(seminarId=${seminar.seminarId})}"
               href="seminar.html"
               th:text="${seminar.seminarName +' (' + #temporals.format(seminar.seminarDate, 'yyyy/MM/dd') + ')'}">JJUGナイトセミナー2017年1月</a>
        </li>
    </ul>
</section>
<section th:unless="${#lists.isEmpty(sessions)}">
    <h3>登壇セッションのアンケート結果</h3>
    <ul>
        <li th:each="s : ${sessions}"><a
                th:href="@{/speaker/sessions/{sessionId}(sessionId=${s.sessionId})}"
                href="session.html"><span th:text="${s.sessionName}">キーノート</span> <span
                th:text="${s.speakerDisplayNames}">スピーカー</span></a></li>
    </ul>
</section>
<div sec:authorize="hasRole('ADMIN')">
    <section>
        <h3>アンケート結果 (管理者用)</h3>
        <ul>
            <li th:each="seminar : ${seminars}">
                <a th:href="@{/admin/seminars/{seminarId}/result(seminarId=${seminar.seminarId})}"
                   th:text="${seminar.seminarName +' (' + #temporals.format(seminar.seminarDate, 'yyyy/MM/dd') + ')'}">JJUGナイトセミナー2017年1月</a>
            </li>
            <li><a th:href="@{/admin/seminars/report}">🆕 全セッションレポート</a></li>
        </ul>
    </section>
    <section>
        <h3>システムメトリクス</h3>
        <h4>HTTPセッション数</h4>
        <p style="font-size: xx-large">
            🏃 <span id="activeSession"></span>
        </p>
    </section>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../static/js/axios.min.js" th:src="@{/js/axios.min.js}"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['gauge']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            getMetrics();
            setInterval(function () {
                getMetrics();
            }, 10000);
        }

        function getMetrics() {
            axios.get('/actuator/metrics/tomcat.sessions.active.current').then(function (res) {
                var metrics = res.data;
                // Active Session
                document.getElementById('activeSession').innerText = metrics.measurements[0].value;
            });
        }
    </script>
</div>
</body>
</html>